#lonely{
    width: 50%;
    height: 30%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#hello{
    text-align: left;
    display: flex;
    flex-direction: column;
}

body{
    display: block;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    max-width: 100%;
  }

.column{
    display: flex;
    max-width: 50%;
}

.card1{
    padding: 15px;
}

.card2{
    padding: 15px;
}