.picCARD{
    margin-top: 100px;
    margin: 0 auto;
}

#lonely{
    border-radius: 20px;
    width: 800px; 
    height: 227px; 
    object-fit: cover;
    object-position: 100% 0 -0;
}

#hello{
    text-align: left;
    color: slategrey;
}

body{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  }

p{
    margin: 0 auto;
    text-align: left;
}
.column{
    width: 800px;
    height: 227px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 20px
}

.card1{
    background-color: lightgray;
    padding: 15px;
    margin-right: 10px;
    border-radius: 20px;
}

.card2{
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
}

#SCRILP{
    margin-top: 10px;
    padding: 15px;
    background-color: slategrey;
    border-radius: 20px;
}