.picCARD{
    margin-top: 100px;
    margin: 0 auto;
}

#lonely{
    width: 800px;
    height: 227px;
    border-radius: 20px;
}

#hello{
    text-align: left;
    color: slategrey;
}

body{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  }

.column{
    width: 800px;
    height: 227px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 20px
}

.card1{
    padding: 15px;
    background-color: lightgray;
    border-radius: 20px
    margin-right;
}

.card2{
    padding: 15px;
    background-color: lightgray;
    border-radius: 20px
}

#SCRILP{
    background-color: slategrey;
    color: white;
}